<h1>List of Pictures</h1>

<a href="/pictures/new">Add a new picture</a>

<ul>
  <% @pictures.each do |picture| %>
    <li>
      <img src="<%= picture.url %>" alt="">
      <a href="/pictures/<%= picture.id %>">Show</a>
      <a href="/pictures/<%= picture.id %>/edit">Edit</a>
      <a href="/pictures/<%= picture.id %>/destroy">Destroy</a>
    </li>
  <% end %>
</ul>
